#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
#cdrom
# Use Network installation media
url --url="http://172.16.254.1/centos/7/os/x86_64/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$lGfAK3Znqu7MJFqG$RgYfs/RTj74EH45dM5QaOi/qbBWDecBRMJ.C57H9NPu38UGHcQLC5dUSGe5nZQ/w.oN3bLtLj2NLoYE2TgkZz/
# System services
services --disabled="chronyd"
# System timezone
timezone America/Chicago --isUtc --nontp
user --name=david --password=$6$zrOpOIsyoM0fnjyV$WIekDGOhbEdhe8fk66.Z9qKKeRfqiYakBW4mZJL/bhYs4Dy.4iKVGNb1Dq4uSS0BQLIJb8VJghzHp4pFZlhCi1 --iscrypted --gecos="david"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
#clearpart --none --initlabel
clearpart --all --initlabel
# Reboot after install
reboot

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
